scripts/workflows/patched_agent.json
{"updatedAt": "2026-03-25T12:48:50.611Z", "createdAt": "2026-03-25T12:15:29.947Z", "id": "WiTcSI66bHwdSgkd", "name": "AI Agent Base - Template con Memoria", "description": null, "active": true, "isArchived": false, "nodes": [{"parameters": {"httpMethod": "POST", "path": "ai-agent", "responseMode": "lastNode", "options": {}}, "id": "webhook-input", "name": "Webhook Input", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [224, 304], "webhookId": "ai-agent-endpoint"}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ $json.body.session_id || 'default' }}", "contextWindowLength": 20}, "id": "memory", "name": "Window Buffer Memory", "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3, "position": [608, 512]}, {"parameters": {"command": "uptime && free -h | head -2 && docker ps --format '{{.Names}} {{.Status}}' 2>/dev/null && (pgrep -fa v15_scalper > /dev/null && echo 'V15:UP' || echo 'V15:DOWN')"}, "id": "tool-server", "name": "Tool: Check Server", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [704, 512], "credentials": {"sshPassword": {"id": "YIFWdMGpRRwrTXfA", "name": "Hetzner SSH"}}}, {"parameters": {"url": "={{ $json.url }}"}, "id": "tool-http", "name": "Tool: HTTP Request", "type": "@n8n/n8n-nodes-langchain.toolHttpRequest", "typeVersion": 1.1, "position": [800, 512]}, {"parameters": {"model": {"__rl": true, "value": "=z-ai/glm-4.5-air:free", "mode": "id"}, "builtInTools": {}, "options": {}}, "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.3, "position": [448, 544], "id": "c623e71c-049b-4d1a-afbe-49f8dd3a5e0b", "name": "OpenAI Chat Model", "credentials": {"openAiApi": {"id": "KViDucLPeGURRcAd", "name": "OpenRouter Account"}}}, {"parameters": {"promptType": "=auto", "text": "", "options": {}}, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 2.1, "position": [624, 352], "id": "68528646-c055-4374-bd38-617933b59cd1", "name": "AI Agent"}], "connections": {"Webhook Input": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "Window Buffer Memory": {"ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]}, "Tool: Check Server": {"ai_tool": [[]]}, "Tool: HTTP Request": {"ai_tool": [[]]}, "OpenAI Chat Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]}, "AI Agent": {"main": [[]]}}, "settings": {"executionOrder": "v1", "binaryMode": "separate"}, "staticData": null, "meta": {"notes": "Plantilla base para AI Agent con LangChain. Incluye: Gemini Flash como LLM, Window Buffer Memory para conversaciones, y 2 herramientas (check server + HTTP). Personalizar seg\u00fan necesidad.", "templateCredsSetupCompleted": true}, "pinData": {}, "versionId": "c1e67f8d-2581-46cb-b8dd-333d358163cf", "activeVersionId": "818354bf-6076-4fa8-8d56-3440cba6cfda", "versionCounter": 17, "triggerCount": 1, "tags": [], "shared": [{"updatedAt": "2026-03-25T12:15:29.954Z", "createdAt": "2026-03-25T12:15:29.954Z", "role": "workflow:owner", "workflowId": "WiTcSI66bHwdSgkd", "projectId": "bJUhFqhoUAZBxl1i", "project": {"updatedAt": "2026-03-25T11:08:14.379Z", "createdAt": "2026-03-25T11:06:58.879Z", "id": "bJUhFqhoUAZBxl1i", "name": "Ibrahim Admin <ibrahim@alz.agency>", "type": "personal", "icon": null, "description": null, "creatorId": "3794db0f-3aa8-4594-ac29-27c2108eab96"}}], "versionMetadata": {"name": null, "description": null}}