scripts/workflows/update_daily_briefing.json
{"id": "UApZMNGKDLJtZb8U", "name": "Daily Briefing", "active": true, "nodes": [{"parameters": {"rule": {"interval": [{"triggerAtHour": 8}]}}, "name": "8AM Daily", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300], "id": "node1"}, {"parameters": {"command": "uptime && df -h / | tail -1 && free -h | grep Mem && docker ps --format '{{.Names}}: {{.Status}}'", "authentication": "password"}, "name": "Server Stats", "type": "n8n-nodes-base.ssh", "typeVersion": 1, "position": [470, 300], "id": "node2", "credentials": {"sshPassword": {"id": "YIFWdMGpRRwrTXfA", "name": "Hetzner SSH"}}}, {"parameters": {"chatId": "5822131920", "text": "=\ud83c\udf05 *Daily Briefing*\n\n{{ $json.stdout }}", "additionalFields": {"parse_mode": "Markdown"}}, "name": "Send Telegram", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [690, 300], "id": "node3", "credentials": {"telegramApi": {"id": "GoCsBqVPx05691Ng", "name": "Telegram account"}}}], "connections": {"8AM Daily": {"main": [[{"node": "Server Stats", "type": "main", "index": 0}]]}, "Server Stats": {"main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]}}}