scripts/workflows/update_crypto_portfolio_alerts.json
{"id": "x9uwWJgIuxmkYyFl", "name": "Crypto Portfolio Alerts", "active": true, "nodes": [{"parameters": {"rule": {"interval": [{"field": "hours", "hoursInterval": 1}]}}, "name": "Every Hour", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2, "position": [250, 300], "id": "node1"}, {"parameters": {"url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin,ethereum,solana,ripple,dogecoin&vs_currencies=usd&include_24hr_change=true", "options": {}}, "name": "Get Prices", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [470, 300], "id": "node2"}, {"parameters": {"chatId": "5822131920", "text": "=\ud83d\udcca *Crypto Portfolio*\n\n\ud83d\udcb0 BTC: ${{ $json.bitcoin.usd }} ({{ $json.bitcoin.usd_24h_change.toFixed(1) }}%)\n\ud83d\udca0 ETH: ${{ $json.ethereum.usd }} ({{ $json.ethereum.usd_24h_change.toFixed(1) }}%)\n\u2600\ufe0f SOL: ${{ $json.solana.usd }} ({{ $json.solana.usd_24h_change.toFixed(1) }}%)\n\ud83e\ude99 XRP: ${{ $json.ripple.usd }} ({{ $json.ripple.usd_24h_change.toFixed(1) }}%)\n\ud83d\udc15 DOGE: ${{ $json.dogecoin.usd }} ({{ $json.dogecoin.usd_24h_change.toFixed(1) }}%)", "additionalFields": {"parse_mode": "Markdown"}}, "name": "Send Telegram", "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [690, 300], "id": "node3", "credentials": {"telegramApi": {"id": "GoCsBqVPx05691Ng", "name": "Telegram account"}}}], "connections": {"Every Hour": {"main": [[{"node": "Get Prices", "type": "main", "index": 0}]]}, "Get Prices": {"main": [[{"node": "Send Telegram", "type": "main", "index": 0}]]}}}